<footer class="bg-dark text-light py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023 Train Ticket Booking. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled list-inline text-md-right social-icons">
          <li class="list-inline-item">
            <a href="#" class="text-light"><i class="fab fa-facebook"></i> Facebook</a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-light"><i class="fab fa-twitter"></i> Twitter</a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-light"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
