<footer class="bg-dark text-light py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2024 Train Ticket Booking. All rights reserved.</p>
      </div>
      <div class="col-md-3">
        <p>Developed by <a href="https://sainathurankar.onrender.com/" target="_blank" class="text-light">Sainath Urankar</a></p>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled list-inline text-md-right social-icons">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/sainath.urankar1/" target="_blank" class="text-light"><i class="fab fa-facebook"></i> Facebook</a>
          </li>
          <li class="list-inline-item">
            <a href="https://x.com/sainath_urankar" target="_blank" class="text-light"><i class="fab fa-twitter"></i> Twitter</a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/sai_urankar/" target="_blank" class="text-light"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/sainathurankar" target="_blank" class="text-light"><i class="fab fa-github"></i> GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
