.card {
  margin-bottom: 10px;
}

.quota-card {
  min-height: 128px;
  background: rgb(246, 245, 246);
  cursor: pointer;
  &:hover {
    background-color: rgb(222, 218, 222);;
  }
}

.refresh {
  cursor: pointer;
  color: #846cca;

  &:hover {
    color: #351398;
    font-weight: 700;
  }
}
