::ng-deep .modal-content {
  border-radius: 0;
}

.container {
  overflow-y: auto;
}

.loading-spinner {
  height: 200px;
  /* Adjust the height as needed */
}

.btn {
  font-size: 16px;
  line-height: 18px;
  color: #2276e3;
  background-color: transparent;
  border: none;
  font-weight: 500;

  &:hover {
    color: #005cd3;
  }
}
