.card {
  margin-bottom: 20px;
}

.card-title {
  letter-spacing: 2px;
}

.availability-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .avail {
    padding: 4px;
  }
  .availability-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
  }
}
