<div class="card mb-3">
  <div class="card-body">
    <div class="row d-flex justify-content-between">
      <div class="col-8 col-md-10">
        <h4 class="card-title">
          {{ train.trainNumber }} | <span class="fw-bold text-uppercase">{{ train.trainName }}</span>
        </h4>
      </div>
      <div class="col-4 col-md-2 d-flex justify-content-end">
        <div class="fw-light" style="letter-spacing: 4px;">
          <span [class.fw-bold]="train?.runningMon === 'Y'">M</span>
          <span [class.fw-bold]="train?.runningTue === 'Y'">T</span>
          <span [class.fw-bold]="train?.runningWed === 'Y'">W</span>
          <span [class.fw-bold]="train?.runningThu === 'Y'">T</span>
          <span [class.fw-bold]="train?.runningFri === 'Y'">F</span>
          <span [class.fw-bold]="train?.runningSat === 'Y'">S</span>
          <span [class.fw-bold]="train?.runningSun === 'Y'">S</span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="text-start">
        <p class="card-text text-muted mb-2">
          <span>{{ train.fromStation }} ({{ train.fromStationCode }})</span>
        </p>
        <p class="fs-6 fw-bold">{{ helper.convertTo12HourFormat(train.departureTime) }}</p>
        <p class="text-muted mb-1">{{helper.formatDateString(train.departureDate) }}</p>
      </div>

      <div class="text-center">
        <p class="text-muted mb-2"> <i class="fa-regular fa-clock"></i> {{ train.duration }} hrs</p>
      </div>

      <div class="text-end">
        <p class="card-text text-muted mb-2">
          <span>{{ train.toStation }} ({{ train.toStationCode }})</span>
        </p>
        <p class="fs-6 fw-bold">{{ helper.convertTo12HourFormat(train.arrivalTime) }}</p>
        <p class="text-muted mb-1"> {{ helper.formatDateString(train.arrivalDate) }}</p>
      </div>
    </div>

    <div *ngIf="showNextAvail" class="row d-flex mb-3">
      <div class="availability-container">
        <div *ngFor="let avail of train.availabilitiesList" class="avail col-4 col-md-4 px-md-2 col-lg-2 mb-3">
          <app-availability-card [avail]="avail" [train]="train" [doj]="doj"></app-availability-card>
        </div>
      </div>
    </div>
    <app-next-availabilty *ngIf="showNextAvail" [train]="train" [doj]="doj"></app-next-availabilty>
  </div>
</div>
